<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IContextService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ContextService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContextService"
                contract="ClientService.IContextService" name="BasicHttpBinding_IContextService" />
        </client>
    </system.serviceModel>
</configuration>